rpc:
  mainnet:
    uri: ${MAINNET_RPC_URI:-https://rpc.tzkt.io/mainnet}
    timeout: 20
    requests_per_second: 15
  ghostnet:
    uri: https://rpc.tzkt.io/ghostnet
    timeout: 20
    requests_per_second: 15
  parisnet:
    uri: https://rpc.tzkt.io/parisnet
    timeout: 20
    requests_per_second: 20
  quebecnet:
    uri: https://rpc.tzkt.io/quebecnet
    timeout: 20
    requests_per_second: 20

log_level: ${LOG_LEVEL:-info}

services:
  mainnet:
    mempool: https://mempool.dipdup.net/v1/graphql
  ghostnet:
    mempool: https://mempool.test.dipdup.net/v1/graphql
  parisnet:
    mempool: https://mempool.test.dipdup.net/v1/graphql
  quebecnet:
    mempool: https://mempool.test.dipdup.net/v1/graphql

storage:
  pg: 
    host: ${DB_HOSTNAME:-127.0.0.1}
    port: 5432
    user: ${POSTGRES_USER}
    dbname: ${POSTGRES_DB:-bcd}
    password: ${POSTGRES_PASSWORD}
    sslmode: disable
  timeout: 10
  log_queries: ${POSTGRES_LOG_QUERIES:-false}

sentry:
  environment: development
  uri: ${SENTRY_DSN}
  front_uri: ${SENTRY_DSN_FRONT}
  debug: true

share_path: /etc/bcd

base_url: http://localhost:8080

api:
  project_name: api
  bind: "127.0.0.1:14000"
  cors_enabled: true
  sentry_enabled: false
  seed_enabled: false
  page_size: ${PAGE_SIZE:-10}
  frontend:
    ga_enabled: false
    mempool_enabled: true
    sandbox_mode: false
    rpc:
      mainnet: https://rpc.tzkt.io/mainnet
      ghostnet: https://rpc.tzkt.io/ghostnet
      parisnet: https://rpc.tzkt.io/parisnet
      quebecnet: https://rpc.tzkt.io/quebecnet
  networks:
    - mainnet
    - ghostnet
    - parisnet
    - quebecnet

indexer:
  project_name: indexer
  sentry_enabled: false
  networks:
    mainnet:
      receiver_threads: 5
    ghostnet:
      receiver_threads: 5
    parisnet:
      receiver_threads: 10
    quebecnet:
      receiver_threads: 10

scripts:
  networks:
    - mainnet
    - ghostnet
    - parisnet
    - quebecnet
