rpc:
  mainnet:
    uri: ${MAINNET_RPC_URI:-https://rpc.tzkt.io/mainnet}
    timeout: 20
    requests_per_second: 15
  ghostnet:
    uri: https://rpc.tzkt.io/ghostnet
    timeout: 20
    requests_per_second: 15
  seoulnet:
    uri: https://rpc.tzkt.io/seoulnet
    timeout: 20
    requests_per_second: 20
  shadownet:
    uri: https://rpc.tzkt.io/shadownet
    timeout: 20
    requests_per_second: 20
  tallinnnet:
    uri: https://rpc.tzkt.io/tallinnnet
    timeout: 20
    requests_per_second: 20

log_level: ${LOG_LEVEL:-info}

services:
  mainnet:
    mempool: https://mempool.dipdup.net/v1/graphql
  ghostnet:
    mempool: https://mempool.test.dipdup.net/v1/graphql
  seoulnet:
    mempool: https://mempool.test.dipdup.net/v1/graphql
  shadownet:
    mempool: https://mempool.test.dipdup.net/v1/graphql
  tallinnnet:
    mempool: https://mempool.test.dipdup.net/v1/graphql

storage:
  pg: 
    host: ${DB_HOSTNAME:-127.0.0.1}
    port: 5432
    user: ${POSTGRES_USER}
    dbname: ${POSTGRES_DB:-bcd}
    password: ${POSTGRES_PASSWORD}
    sslmode: disable
  timeout: 10
  log_queries: ${POSTGRES_LOG_QUERIES:-false}

sentry:
  environment: development
  uri: ${SENTRY_DSN}
  front_uri: ${SENTRY_DSN_FRONT}
  debug: true

share_path: /etc/bcd

base_url: http://localhost:8080

api:
  project_name: api
  bind: "127.0.0.1:14000"
  cors_enabled: true
  sentry_enabled: false
  seed_enabled: false
  page_size: ${PAGE_SIZE:-10}
  frontend:
    ga_enabled: false
    mempool_enabled: true
    sandbox_mode: false
    rpc:
      mainnet: https://rpc.tzkt.io/mainnet
      ghostnet: https://rpc.tzkt.io/ghostnet
      seoulnet: https://rpc.tzkt.io/seoulnet
      shadownet: https://rpc.tzkt.io/shadownet
      tallinnnet: https://rpc.tzkt.io/tallinnnet
  networks:
    - mainnet
    - ghostnet
    - seoulnet
    - shadownet
    - tallinnnet

indexer:
  project_name: indexer
  sentry_enabled: false
  networks:
    mainnet:
      receiver_threads: 5
    ghostnet:
      receiver_threads: 5
    seoulnet:
      receiver_threads: 10
    shadownet:
      receiver_threads: 10
    tallinnnet:
      receiver_threads: 10

scripts:
  networks:
    - mainnet
    - ghostnet
    - seoulnet
    - shadownet
    - tallinnnet

implicit_contracts:
  mainnet:
    - address: "KT1TxqZ8QtKvLu3V3JH7Gx58n7Co8pgtpQU5"
      level: 1589247
    - address: "KT1AafHA1C1vk959wvHWBispY9Y2f3fxBUUo"
      level: 1589247
  ghostnet:
    - address: "KT1TxqZ8QtKvLu3V3JH7Gx58n7Co8pgtpQU5"
      level: 1
    - address: "KT1AafHA1C1vk959wvHWBispY9Y2f3fxBUUo"
      level: 1
    - address: "KT1VqarPDicMFn1ejmQqqshUkUXTCTXwmkCN"
      level: 1
  seoulnet:
    - address: "KT1TxqZ8QtKvLu3V3JH7Gx58n7Co8pgtpQU5"
      level: 1
    - address: "KT1AafHA1C1vk959wvHWBispY9Y2f3fxBUUo"
      level: 1
    - address: "KT1VqarPDicMFn1ejmQqqshUkUXTCTXwmkCN"
      level: 1
  shadownet:
    - address: "KT1TxqZ8QtKvLu3V3JH7Gx58n7Co8pgtpQU5"
      level: 1
    - address: "KT1AafHA1C1vk959wvHWBispY9Y2f3fxBUUo"
      level: 1
    - address: "KT1VqarPDicMFn1ejmQqqshUkUXTCTXwmkCN"
      level: 1
  tallinnnet:
    - address: "KT1TxqZ8QtKvLu3V3JH7Gx58n7Co8pgtpQU5"
      level: 1
    - address: "KT1AafHA1C1vk959wvHWBispY9Y2f3fxBUUo"
      level: 1
    - address: "KT1VqarPDicMFn1ejmQqqshUkUXTCTXwmkCN"
      level: 1
