rpc:
  mainnet:
    uri: ${MAINNET_RPC_URI:-https://rpc.tzkt.io/mainnet}
    timeout: 20
  edo2net:
    uri: ${TESTNET_RPC_URI:-https://rpc.tzkt.io/edo2net}
    timeout: 20
  florencenet:
    uri: ${NEXTNET_RPC_URI:-https://rpc.tzkt.io/florencenobanet}
    timeout: 20
  granadanet:
    uri: https://rpc.tzkt.io/granadanet
    timeout: 20

tzkt:
  mainnet:
    uri: https://api.tzkt.io/v1/
    services_uri: https://services.tzkt.io/v1/
    base_uri: https://tzkt.io/
    timeout: 20
  edo2net:
    uri: https://api.edo2net.tzkt.io/v1/
    services_uri: https://services.tzkt.io/edo2net/v1/
    base_uri: https://edo2net.tzkt.io/
    timeout: 20

storage:
  pg: "host=${DB_HOSTNAME:-db} port=5432 user=${POSTGRES_USER} dbname=indexer password=${POSTGRES_PASSWORD} sslmode=disable"
  elastic:
    - http://${ELASTIC_HOSTNAME:-elastic}:9200
    - http://${ELASTIC_HOSTNAME:-elastic}:9200
  timeout: 10

sentry:
  environment: production
  uri: ${SENTRY_DSN}
  front_uri: ${SENTRY_DSN_FRONT}
  debug: false

share_path: /etc/bcd

base_url: https://better-call.dev

ipfs:
  - ${SANDBOX_IPFS_GATEWAY:-https://ipfs.baking-bad.org}
  - https://cloudflare-ipfs.com
  - https://ipfs.io
  - https://dweb.link

domains:
   edo2net: KT1KP2Yy6MNkYKkHqroGBZ7KFN5NdNfnUHHv
#  mainnet: KT1GBZmSxmnKJXGMdMLbugPfLyUPmuLSMwKS

api:
  project_name: api
  bind: ":14000"
  swagger_host: "api.better-call.dev"
  cors_enabled: false
  sentry_enabled: true
  seed_enabled: false
  page_size: ${PAGE_SIZE:-10}
  frontend:
    ga_enabled: true
    mempool_enabled: true
    sandbox_mode: false
  networks:
    - mainnet
  pinata:
    key: ${PINATA_KEY}
    secret_key: ${PINATA_SECRET_KEY}
    timeout_seconds: 10

indexer:
  project_name: indexer
  sentry_enabled: true
  skip_delegator_blocks: false
  networks:
    mainnet:
      boost: tzkt

metrics:
  project_name: metrics
  sentry_enabled: true
  cache_aliases_seconds: 30

scripts:
  aws:
    bucket_name: bcd-elastic-snapshots
    region: eu-central-1
    access_key_id: ${AWS_ACCESS_KEY_ID}
    secret_access_key: ${AWS_SECRET_ACCESS_KEY}
  networks:
    - mainnet

graphql:
  db: "host=${DB_HOSTNAME} port=5432 user=graphql dbname=indexer password=${POSTGRES_GRAPHQL} sslmode=disable"
